/* * { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 18px Helvetica, Arial; }
div {text-align: center; background-color:rgb(130, 224, 255); padding-top: 15px; padding-bottom: 15px; border-bottom: solid black 2px}
#forms {background: #000; position: fixed; bottom: 0; height: 105px; width: 100%;}
form { padding: 3px; position: absolute; width: 100%; bottom: 5px; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#nicknameform {position: absolute; top: 5px;}
/* #nicknameinput {} */
/* #nicknamebutton {} */
/* #messages { list-style-type: none; margin: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
#servermessage {color: red;}  */


* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body { 
    font: 18px Helvetica, Arial; 
}

#header {
    /* text-align: center; */
    background-color:rgb(130, 224, 255);
    padding-top: 15px; 
    padding-bottom: 15px; 
    border-bottom: solid black 2px
}

div h1 {
    text-align: center;
    padding-bottom: 2vh;
}

div a {
    text-align: left;
    padding: 1vh;
    margin-left: 1vh;
    text-decoration: none;
    background-color: #d7f4fd;
    color: black;
    border-radius: 5px;
}

div a:hover {
    background-color: gray;
}

#forms {
    background: #000; 
    position: fixed; 
    bottom: 0; 
    height: 105px; 
    width: 100%;
}
form { 
    padding: 3px; 
    position: absolute; 
    width: 100%; 
    bottom: 5px; 
}
form input { 
    border: 0; 
    padding: 10px; 
    width: 90%; 
    margin-right: .5%; 
}
form button { 
    width: 9%; 
    background: rgb(130, 224, 255); 
    border: none; 
    padding: 10px; 
}
#nicknameform {
    position: absolute; 
    top: 5px;
}
#chatlog {
    display: -ms-flex; 
    display: -webkit-flex; 
    display: flex; 
}
#messages { 
    list-style-type: none; 
    margin: 0; 
    width: 90%;
    display: inline-block;
}
#messages li { 
    padding: 5px 10px; 
}
#messages li:nth-child(odd) { 
    background: #eee; 
}
#timestamps {
    margin: 0;
    width: 10%;
    float: right;
    text-align: right;
    list-style-type: none; 
}
#timestamps li {
    padding: 5px 10px;
}

#timestamps li:nth-child(odd) { 
    background: #eee; 
}

#servermessage {
    color: red;
}